@keyframes fade-in {
	0% {
		opacity: 0;
		transform: scale(1.05) translateX(-47.5%);
	}
	100% {
		opacity: 1;
		transform: scale(1) translateX(-50%);
	}
}

* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 10px;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	position: relative;
	opacity: 100;
}

a {
	text-decoration: none;
	color: #424242;
}

.clear {
	clear: both;
}

.background {
	position: fixed;
	width: 100%;
	height: 100%;
}

.background > div {
	float: left;
	width: 50%;
	height: 100%;
}

.background > div:nth-child(1) {
	background: #9CCAE6;
}

.background > div:nth-child(2) {
	background: #F7CECE;
}

.html_margin {
	animation-name: fade-in;
	animation-duration: 1s;
	animation-delay: 0s;
	animation-iteration-count: 1;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	margin: 9.2rem 0;
	max-width: calc(117.25rem + 3.6rem);
	width: calc(100% - 9.2rem * 2);
}

.header {
	width: 100%;
	margin-bottom: 3.6rem;
}

.logo {
	width: 7.2rem;
	display: inline-block;
}

.header > ul {
	float: right;
	display: inline-block;
	list-style: none;
	font-size: 1.8rem;
}

.header > ul li {
	line-height: 7.2rem;
	float: left;
	padding-left: 2.4rem;
	padding-right: 2.4rem;
}

.main > div:last-child {
	position: absolute;
	left: 0;
	width: 100%;
	line-height: 3.6rem;
	display: inline-block;
	text-align: center;
}

.main > div:last-child > ul {
	width: 100%;
	display: inline-block;
	line-height: 3.6rem;
	list-style: none;
}

.main > div:last-child > ul > li {
	display: inline-block;
	list-style: none;
	padding: 0 0.4rem;
}

.main > div:last-child > ul > li > a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.main > div:last-child > ul > li img {
	height: 1.2rem;
}

.footer {
	margin-top: 2.4rem;
	font-size: 1.4rem;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
	.html_margin {
		margin: 4.2rem 0;
		width: calc(100% - 4.2rem * 2);
	}

	.main {
		padding: 2.8rem;
	}
}

@media screen and (min-width: 768px) {
	.main {
		background: #FFFFFF;
		padding: 3.6rem;
		overflow: auto;
	}

	.main > ul {
		margin-right: auto;
		list-style: none;
		white-space: nowrap;
		/*overflow: hidden;*/
		float: left;
	}

	.main > ul > li {
		display: inline-block;
	}

	.main > ul > li img {
		transition: all 0.4s ease-in-out;
	}

	.main > ul > li img:hover {
		transform: scale(1.04);
	}

	.main > ul > li:nth-child(1) img {
		display: inline-block;
		height: 50rem;
		margin-right: 2.4rem;
	}

	.main > ul > li:nth-child(2) img {
		display: inline-block;
		height: 50rem;
		margin-right: 2.4rem;
	}

	.main > ul > li:nth-child(3) img {
		display: inline-block;
		height: 50rem;
		margin-right: 3.6rem;
	}
}

@media screen and (max-width: 768px) {
	.html_margin {
		margin: 2.4rem 0;
		width: calc(100% - 2.4rem * 2);
	}

	.header > ul {
		font-size: 1.6rem;
	}

	.header > ul li {
		line-height: 3.6rem;
		float: left;
		padding-left: 1.6rem;
		padding-right: 1.6rem;
	}

	.logo {
		width: 3.6rem;
	}

	.main {
		background: #FFFFFF;
		padding: 1.6rem 1.6rem 3.6rem 1.6rem;
	}

	.main > ul {
		list-style: none;
	}

	.main > ul > li {
		display: inline-block;
	}

	.main > ul > li:nth-child(1) img {
		display: inline-block;
		float: left;
		width: calc(100% - 0.2rem);
		border: 0.1rem #AAAAAA solid;
	}

	.main > ul > li:nth-child(2) img {
		display: inline-block;
		float: left;
		width: 100%;
	}

	.main > ul > li:nth-child(3) img {
		display: inline-block;
		float: left;
		width: 100%;
	}
}